.App {
  height: 100vh;
  width: 100vw;
  background-image: url('https://cdn.discordapp.com/attachments/806359418098548767/821842651716386896/bg-items.jpg');
  background-size: cover;
  background-position: center center;
  display: flex;
}

header {
  width: 25%;
  height: 15%;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 30px;
  color: #fed136;
  padding-left: 3%;
  /* background-color: red; */
}

nav{
  height: 15%;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  /* background-color: green; */
  /* color: rgb(255, 255, 255); */
  font-size: 20px;
 }

 button{
   height: 7vh;
   width: 17vw;
   background-color: #fed136;
   border: transparent;
   border-radius: 5px;
   color: white;
   font-size: 18px;
   font-weight: 700;
  
 }
 .closed {
  top: -280px;
  opacity: 0;
  transition: opacity 1s, top 1s;
 }

 .opened {
  top: 80px;
  opacity: 1;
  transition: opacity 1s, top 1s;
}

 .burger{
   display: none;
   height: 5vh;
   width: 9vh;
   border: transparent;
   border-radius: 5px;
   background-color: #fed136;
   color: white;
   font-size: 12px;
 }

 ul {
   display: flex;
   align-content: center;
   justify-content: space-between;
   width: 40vw;
 }

 li{
   color: white;
 }

 li:hover{
   color: #fed136
 }

 section{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
   height: 40vh;
   width: 40vh;
   background-color: ivory;
  
   }
   
   @media (min-width: 500px) {
   .burger {
      display: none;
    }
  
    .opened, .closed {
      opacity: 1;
      background-color: transparent;
      position: static;
      flex-direction: row;
      width: 70%;
    }
  }

 @media(max-width: 1000px) {
   ul{
     display: none;
   }
   .burger{
     display: block;
   }
   header{
     background-color: #212529;
   }
   nav{
     background-color: #212529;
   }
  }